//--------------------------
// APP
//--------------------------

body,
html {
  margin: 0;
  overflow-x: hidden;
}

html {
  ::-webkit-scrollbar {
    display: none;
  }
}

* {
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

//--------------------------
// CONSTANTS
//--------------------------

$white: #FFFFFF;
$black: #000000;

// Dark Mode
$dark-el: hsl(209, 23%, 22%);
$dark-bg: hsl(207, 26%, 17%);


// Light Mode
$light-text: hsl(200, 15%, 8%);
$light-input: hsl(0, 0%, 52%);
$light-bg: hsl(0, 0%, 98%);

$shadow: 0 0 5px -1px rgba($black, 0.1);

//--------------------------
// TYPOGRAPHY
//--------------------------

$body: 16;
$body-mid: 14;

// -----------------------------------------------------
// TRANSITION
// -----------------------------------------------------

$timing       : 0.2s;
$transition   : $timing ease;

// -----------------------------------------------------
// BREAKPOINTS
// -----------------------------------------------------

$breakpoints: (
  xxs: 16 * 16, //  256
  xs:  32 * 16, //  512
  s:   48 * 16, //  768
  m:   64 * 16, // 1024
  l:   96 * 16, // 1536
  xl: 102 * 16, // 1632
);

$tweakpoints: (
  cardsBreak: 1125,
);

// -----------------------------------------------------
// MIXINS
// -----------------------------------------------------

@mixin flexbox($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin max-width($wmax) {
  @media only screen and (max-width: (($wmax - 1) / 16) + em) {
    @content;
  }
}

@mixin min-width($wmin) {
  @media only screen and (min-width: ($wmin / 16) + em) {
    @content;
  }
}

@mixin ellipsis($width: false, $lineClamp: false) {
  @if $width {
    max-width: rem($width);
  }
  @if $lineClamp {
    -webkit-line-clamp: $lineClamp;
    @if $lineClamp > 1 {
      white-space: initial;
    } @else {
      white-space: nowrap;
    }
  }

  overflow: hidden;
  text-overflow: ellipsis;
}

// -----------------------------------------------------
// FUNCTIONS
// -----------------------------------------------------

@function bp($v) {
  @return map-get($breakpoints, $v);
}

@function tp($v) {
  @return map-get($tweakpoints, $v);
}

@function rem($target, $content: $body) {
  @if $target == 0 {
    @return 0;
  }
  @return $target / $content + 0rem;
}

@mixin font-sizes($small, $big: 100, $min: 0) {

  $breaks: bp(s), bp(m), bp(l);

  $step: ($big - $small) / length($breaks);

  font-size: rem(if($small >= $min, $small, $min));

  @for $i from 1 through length($breaks) {
    $break: nth($breaks, $i);
    $modifier: $small + ($i * $step);

    @if ($modifier > $min) {

      @include min-width($break) {
        font-size: floor(rem($modifier) * 16) / 16;
      }
    }
  }
}

// -----------------------------------------------------
// HELPERS
// -----------------------------------------------------

.page {
  width: 90%;
  margin: 0 auto;
  max-width: rem(1440);

  @include max-width(bp(s)) {
    width: 95%;
    max-width: rem(375);
  }
}

.padded {
  padding: rem(40) 0 rem(40);
}

.transition {
  backface-visibility: hidden;
  z-index: 1;

  &-enter-active {
    //Appearing
    transition: all 0.2s ease;
  }

  &-leave-active {
    // disappear
    transition: all 0.2s ease;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }

  &-enter {
    transform: translateY(40px);
  }

  &-leave-to {
    transform: translateY(-40px);
  }
}

.slide {
  backface-visibility: hidden;
  z-index: 1;

  &-enter-active {
    //Appearing
    transition: all 0.4s ease;
  }

  &-leave-active {
    // disappear
    transition: all 0.4s ease;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }

  &-enter {
    transform: translateX(20px);
  }

  &-leave-to {
    transform: translateX(20px);
  }
}

// <pre class="pre">{{ yourModel }}</pre>
.pre {
  max-height: 500px;
  overflow-y: auto;
  border-radius: 4px;
  background: rgb(66, 54, 54);
  color: #cadb2b;
  border: 1px solid black;
  border-left: 5px solid #8f350e;
  box-shadow: 0 0 23px 0 rgba(0, 0, 0, 0.75),
  inset 9px 9px 9px #1c171c,
  inset 0px 0px 9px #685568;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.8;
  max-width: 100%;
  padding: 1em;
  display: block;
  word-wrap: break-word;
  margin: 20px;

  &::-webkit-scrollbar {
    display: none;
  }
}
