<template>
  <main class="page padded country">
    <Link
      has-icon
      label="Back"
      path="/"
      class="country__top-link"
    />

    <article class="country__inner">
      <div class="country__img-box">
        <img
          :src="country.flag"
          :alt="`${country.name} flag`"
        >
      </div>

      <div class="country__content">
        <h1>{{ country.name }}</h1>

        <section class="country__inner-content">
          <section>
            <div v-if="country.nativeName">
              <label class="country__label">Native Name:</label>&nbsp;<span>{{ country.nativeName }}</span>
            </div>

            <div v-if="country.population">
              <label class="country__label">Population:</label>&nbsp;<span>{{ country.population }}</span>
            </div>

            <div v-if="country.region">
              <label class="country__label">Region:</label>&nbsp;<span>{{ country.region }}</span>
            </div>

            <div v-if="country.subregion">
              <label class="country__label">Sub Region:</label>&nbsp;<span>{{ country.subregion }}</span>
            </div>

            <div v-if="country.capital">
              <label class="country__label">Capital:</label>&nbsp;<span>{{ country.capital }}</span>
            </div>
          </section>

          <section>
            <div v-if="country.topLevelDomain.length > 0">
              <label class="country__label">Top Level Domain:</label>&nbsp;
              <span
                v-for="(item, index) in country.topLevelDomain"
                :key="index"
              >
                {{ item }}{{ index >= country.topLevelDomain.length - 1 ? '' : ', ' }}
              </span>
            </div>

            <div v-if="country.currencies.length > 0">
              <label class="country__label">Currencies:</label>&nbsp;
              <span
                v-for="(item, index) in country.currencies"
                :key="index"
              >
                {{ item }}{{ index >= country.currencies.length - 1 ? '' : ', ' }}
              </span>
            </div>

            <div v-if="country.languages.length > 0">
              <label class="country__label">Languages:</label>&nbsp;
              <span
                v-for="(item, index) in country.languages"
                :key="index"
              >
                {{ item }}{{ index >= country.languages.length - 1 ? '' : ', ' }}
              </span>
            </div>
          </section>
        </section>

        <section
          v-if="getBorderCountries.length > 0"
          class="country__footer"
        >
          <label>Border Countries:</label>

          <div class="country__countries">
            <Link
              v-for="(item, index) in getBorderCountries"
              :key="index"
              :label="item.name"
              small
              @click.native="updateContent(item.name)"
            />
          </div>
        </section>
      </div>
    </article>
  </main>
</template>

<script>
// Vuex
import { mapState } from 'vuex';

export default {
  name: 'Country',

  components: {
    Link: () => import('@/components/Link.vue'),
  },

  data: () => ({
    country: {},
  }),

  computed: {
    ...mapState([
      'countries',
      'countriesCode',
    ]),

    getBorderCountries() {
      const list = [];
      this.country.borders.forEach((item) => {
        const matches = this.countriesCode.filter((ele) => item === ele.code);
        if (matches[0] !== undefined) {
          list.push(matches[0]);
        }
      });
      return list;
    },
  },

  created() {
    const pageID = this.$route.params.id;
    const result = this.countries.filter(
      (item) => this.fomatString(item.name) === pageID,
    );
    [this.country] = result;
  },

  methods: {
    fomatString(str) {
      return str.replace(/ +/g, '-').toLowerCase();
    },

    updateContent(e) {
      const result = this.countries.filter(
        (item) => this.fomatString(item.name) === this.fomatString(e),
      );
      this.$router.push({
        path: `/country/${this.fomatString(e)}`,
      });
      [this.country] = result;
    },
  },
};
</script>

<style lang="scss" scoped>
.country {
  height: calc(100vh - 80px);

  @include max-width(bp(m)) {
    height: calc(100vh - 60px);
  }

  &__top-link {
    max-width: rem(150);
  }

  &__inner {
    @include flexbox(center, space-between);
    gap: rem(100);
    margin-top: rem(80);

    @include max-width(bp(m)) {
      flex-flow: row wrap;
      gap: 0;
    }
  }

  &__content {
    width: 60%;

    h1 {
      @include font-sizes(24, 32);
    }
  }

  &__img-box {
    width: 40%;
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__img-box,
  &__content {
    @include max-width(bp(m)) {
      width: 100%;
    }
  }

  &__inner-content {
    @include flexbox(flex-start, flex-start);
    flex-flow: row wrap;

    section {
      &:first-child {
        margin-right: rem(200);

        @include max-width(bp(s)) {
          margin-right: 0;
          margin-bottom: rem(40);
        }
      }

      @include max-width(bp(s)) {
        width: 100%;
      }
    }

    div {
      margin: 0;
      font-size: rem($body);

      &:not(:last-child) {
        margin-bottom: rem(10);
      }

      @include max-width(bp(s)) {
        margin-bottom: rem(10);
      }
    }
  }

  &__label {
    font-weight: 600;
  }

  &__countries {
    @include flexbox(center, flex-start);
    flex-flow: row wrap;
    width: 100%;
  }

  &__footer {
    margin-top: rem(80);
    @include flexbox(center, flex-start);

    @include max-width(bp(l)) {
      display: block;
    }

    @include max-width(bp(s)) {
      margin-top: rem(40);
    }

    label {
      font-size: rem($body);
      font-weight: 600;
      min-width: rem(150);

      @include max-width(bp(l)) {
        display: block;
        margin-bottom: rem(10);
      }
    }

    .link {
      margin: rem(10) rem(10) rem(10) 0;
    }
  }
}
</style>
