<template>
  <main class="page padded home">
    <!-- <pre class="pre">{{ countries }}</pre> -->
    <Search
      :select-options="getRegions"
    />

    <Loader v-if="!loadingState" />

    <section
      v-if="loadingState && countries.length > 0"
      class="home__cards"
    >
      <Card
        v-for="(item, index) in countries"
        :key="index"
        :options="item"
      />
    </section>

    <transition name="slide">
      <h4 v-if="countries.length === 0">
        No Results Found
      </h4>
    </transition>
  </main>
</template>

<script>
// Vuex
import { mapState, mapActions } from 'vuex';

export default {
  name: 'Home',

  components: {
    Search: () => import('@/components/Search.vue'),
    Card: () => import('@/components/Card.vue'),
    Loader: () => import('@/components/Loader.vue'),
  },

  computed: {
    ...mapState([
      'countries',
      'loadingState',
    ]),

    getRegions() {
      return [...new Set(this.countries.map((item) => item.region))].filter((item) => item);
    },
  },

  mounted() {
    this.requestCountries();
  },

  methods: {
    ...mapActions([
      'requestCountries',
    ]),
  },
};
</script>

<style lang="scss">
.home {
  min-height: 100vh;

  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: rem(80);

    @include max-width(tp(cardsBreak)) {
      grid-template-columns: repeat(3, 1fr);
      gap: rem(40);
    }

    @include max-width(bp(s)) {
      grid-template-columns: 1fr;
    }
  }

  h4 {
    text-align: center;
    @include font-sizes(30, 40);
    color: #cc5500;
  }
}
</style>
