<template>
  <transition name="slide">
    <router-link
      :to="`/country/${options.name.replace(/ +/g, '-').toLowerCase() }`"
      class="card"
    >
      <div class="card__img-box">
        <img
          :src="options.flag"
          :alt="`${options.name} flag`"
        >
      </div>

      <div
        :class="[
          'card__content',
          {
            'card__content--dark': darkMode
          }
        ]"
      >
        <h3>{{ options.name }}</h3>

        <div>
          <label>Population:</label>&nbsp;
          <span>{{ options.population }}</span>
        </div>

        <div>
          <label>Region:</label>&nbsp;
          <span>{{ options.region }}</span>
        </div>

        <div>
          <label>Capital:</label>&nbsp;
          <span>{{ options.capital }}</span>
        </div>
      </div>
    </router-link>
  </transition>
</template>

<script>
// Vuex
import { mapState } from 'vuex';

export default {
  name: 'Card',

  props: {
    options: {
      type: Object,
      default: null,
    },
  },

  computed: {
    ...mapState([
      'darkMode',
    ]),
  },
};
</script>

<style lang="scss" scoped>
.card {
  color: $black;
  border-radius: 4px;
  overflow: hidden;
  text-decoration: none;
  box-shadow: $shadow;

  &__img-box {
    height: rem(200);
    width: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    padding: rem(20) rem(20) rem(40);
    background: $white;
    color: $light-text;

    &--dark {
      background: $dark-el;
      color: $white;
    }

    h3 {
      margin: 0 0 rem(20);
      font-weight: 800;
      @include ellipsis(null, 1);
    }

    label {
      margin: 0;
      font-size: rem($body-mid);
      font-weight: 600;

      &:not(:last-child) {
        margin-bottom: rem(5);
      }
    }

    span {
      font-size: rem($body-mid) !important;
    }
  }
}
</style>
