<template>
  <nav
    :class="[
      'header',
      {
        'header--dark': darkMode,
      }
    ]"
  >
    <section class="header__inner page">
      <span
        :class="[
          'header__title',
          {
            'header__title--dark': darkMode,
          }
        ]"
      >
        Where in the world?
      </span>

      <button
        class="header__switch"
        @click="switchMode"
      >
        <SvgCrescentLight v-if="!darkMode" />

        <SvgCrescentDark
          v-if="darkMode"
          class="svg-dark"
        />

        <span
          :class="[
            'header__mode',
            {
              'header__mode--dark': darkMode,
            }
          ]"
        >
          {{ darkMode ? 'Dark' : 'Light' }} Mode
        </span>
      </button>
    </section>
  </nav>
</template>

<script>
// Vuex
import { mapState, mapActions } from 'vuex';

export default {
  name: 'Header',

  components: {
    // Assets
    SvgCrescentLight: () => import('@/assets/crescent-light.svg'),
    SvgCrescentDark: () => import('@/assets/crescent-dark.svg'),
  },

  computed: {
    ...mapState([
      'darkMode',
    ]),
  },

  methods: {
    ...mapActions([
      'enableDarkMode',
      'disableDarkMode',
    ]),

    switchMode() {
      if (this.darkMode) {
        this.disableDarkMode();
      } else {
        this.enableDarkMode();
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.header {
  background: $white;
  height: rem(80);
  box-shadow: 0 2px 4px rgba($black, 0.1);
  @include flexbox(center, center);

  @include max-width(bp(s)) {
    height: rem(60);
  }

  &--dark {
    background: $dark-el;
  }

  &__inner {
    @include flexbox(center, space-between);
  }

  &__title {
    @include font-sizes(18, 26);
    font-weight: 800;
    color: $light-text;

    &--dark {
      color: $white;
    }
  }

  &__switch {
    @include flexbox(center, space-between);
    cursor: pointer;
    border: 0;
    background: transparent;
    padding: 0;

    svg {
      width: rem(20);
      height: rem(20);
      margin-right: rem(10);

      @include max-width(bp(s)) {
        width: rem(15);
        height: rem(15);
        margin-right: rem(5);
      }
    }

    .svg-dark {
      fill: $white;
    }
  }

  &__mode {
    font-weight: 600;
    font-size: rem($body);
    color: $light-text;
    @include font-sizes(14, 16);

    &--dark {
      color: $white;
    }
  }
}
</style>
