<template>
  <router-link
    :class="[
      'link',
      {
        'link--dark': darkMode,
        'link--small': small
      }
    ]"
    :to="path"
  >
    <SvgArrow
      v-if="hasIcon"
      :class="[
        'link__icon',
        {
          'link__icon--dark': darkMode
        }
      ]"
    />

    <span>{{ label }}</span>
  </router-link>
</template>

<script>
// Vuex
import { mapState } from 'vuex';

export default {
  name: 'Link',

  components: {
    // Assets
    SvgArrow: () => import('@/assets/arrow.svg'),
  },

  props: {
    hasIcon: {
      type: Boolean,
      default: false,
    },
    label: {
      type: String,
      default: '',
    },
    path: {
      type: String,
      default: '',
    },
    small: {
      type: Boolean,
      default: false,
    },
  },

  computed: {
    ...mapState([
      'darkMode',
    ]),
  },
};
</script>

<style lang="scss" scoped>
.link {
  text-decoration: none;
  color: $light-text;
  background: $white;
  box-shadow: $shadow;
  padding: rem(10) rem(30);
  font-size: rem($body-mid);
  border-radius: 4px;

  @include flexbox(center, center);

  &--dark {
    color: $white;
    background: $dark-el;
  }

  &--small {
    padding: rem(5) rem(15);
  }

  &__icon {
    width: rem(15);
    margin-right: rem(10);

    &--dark {
      fill: $white;
    }
  }
}
</style>
