<template>
  <div class="loader">
    <span
      :class="[
        'loader__spinner',
        {
          'loader__spinner--dark': darkMode,
        }
      ]"
    />
  </div>
</template>

<script>
// Vuex
import { mapState } from 'vuex';

export default {
  name: 'Loader',

  computed: {
    ...mapState([
      'darkMode',
    ]),
  },
};
</script>

<style lang="scss" scoped>
.loader {
  &__spinner {
    display: block;
    width: rem(64);
    height: rem(64);
    border: solid 2px;
    border-color: $dark-bg $white $white $white;
    border-radius: 50%;
    animation: spin $timing * 6 infinite;
    margin: 0 auto;

    &--dark {
      border-color: $white $dark-el $dark-el $dark-el;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
</style>
