<template>
  <section class="search">
    <div
      :class="[
        'search__text',
        {
          'search__text--dark': darkMode,
        }
      ]"
    >
      <SvgLoop />

      <input
        :id="computedIdInput"
        v-model="searchModel"
        type="text"
        autocomplete="off"
        :name="computedIdInput"
        placeholder="Search for a country..."
        required
        @input="search(searchModel)"
      >

      <SvgClose
        v-if="searchModel"
        class="close"
        @click="initSearch"
      />
    </div>

    <div
      :class="[
        'search__filter',
        {
          'search__filter--dark': darkMode,
        }
      ]"
      tabindex="0"
      @click="selectOpen = !selectOpen"
      @focusout="selectOpen = false"
    >
      <input
        :id="computedIdSelect"
        v-model="selectModel"
        type="text"
        autocomplete="off"
        :name="computedIdSelect"
        placeholder="Filter by Region"
        required
      >

      <SvgClose
        v-if="selectModel"
        @click="initSearch"
      />

      <SvgChevron
        v-else
        :class="[
          'svg',
          {
            'svg--open': selectOpen
          }
        ]"
      />

      <transition name="slide">
        <div
          v-if="selectOpen"
          :class="[
            'options',
            {
              'options--dark': darkMode,
            }
          ]"
        >
          <span
            v-for="(item, index) in selectOptions"
            :key="index"
            @click="filter(item)"
          >
            {{ item }}
          </span>
        </div>
      </transition>
    </div>
  </section>
</template>

<script>
// Vuex
import { mapState, mapActions } from 'vuex';
// Plugs
import _uniqueId from 'lodash/uniqueId';

export default {
  name: 'Search',

  components: {
    // Assets
    SvgLoop: () => import('@/assets/loop.svg'),
    SvgChevron: () => import('@/assets/chevron.svg'),
    SvgClose: () => import('@/assets/close.svg'),
  },

  props: {
    selectOptions: {
      type: Array,
      default: () => [],
    },
  },

  data: () => ({
    searchModel: null,
    selectModel: null,
    //
    selectOpen: false,
  }),

  computed: {
    ...mapState([
      'darkMode',
    ]),
    computedIdInput() {
      return _uniqueId('input-');
    },
    computedIdSelect() {
      return _uniqueId('select-');
    },
  },

  methods: {
    ...mapActions([
      'searchCountry',
      'filterCountry',
      'searchWithSelect',
      'requestCountries',
    ]),

    search(e) {
      this.searchModel = e;
      if (this.searchModel && !this.selectModel) {
        this.searchCountry(this.searchModel);
      } else if (this.searchModel && this.selectModel) {
        this.searchWithSelect(this.searchModel);
      } else {
        this.searchModel = null;
        this.selectModel = null;
        this.requestCountries();
      }
    },

    filter(e) {
      this.selectModel = e;
      if (this.selectModel) {
        this.filterCountry(this.selectModel);
      }
    },

    initSearch() {
      this.searchModel = null;
      this.selectModel = null;
      this.requestCountries();
    },
  },
};
</script>

<style lang="scss" scoped>
.search {
  @include flexbox(center, space-between);
  flex-flow: row wrap;
  margin-bottom: rem(40);

  input {
    border: 0;
    background: transparent;
    outline: 0;
    font-size: rem($body-mid);
  }

  &__text {
    @include flexbox(center, flex-start);
    padding: rem(20) rem(30);
    width: 40%;

    @include max-width(bp(m)) {
      margin-bottom: rem(20);
    }

    input {
      color: $light-input;
      width: 100%;

      &::placeholder {
        color: $light-input;
      }
    }

    svg {
      width: rem(20);
      fill: $light-input;
      margin-right: rem(20);
    }

    .close {
      margin-right: auto;
      cursor: pointer;
      width: rem(15);
    }
  }

  &__filter {
    @include flexbox(center, space-between);
    padding: rem(20);
    cursor: pointer;
    position: relative;

    input {
      color: $light-text;
      pointer-events: none;

      &::placeholder {
        color: $light-text;
      }
    }

    svg {
      width: rem(10);
      fill: $light-text;
    }
  }

  &__text,
  &__filter {
    background: $white;
    box-shadow: $shadow;
    border-radius: 4px;

    @include max-width(bp(m)) {
      width: 100%;
    }

    &--dark {
      background: $dark-el;

      input {
        color: $white;

        &::placeholder {
          color: $white;
        }
      }

      svg {
        fill: $white;
      }
    }
  }

  .svg {
    transition: $transition;
    transform: rotateZ(-90deg);

    &--open {
      transform: rotateZ(0);
    }
  }

  .options {
    position: absolute;
    top: rem(65);
    left: 0;
    background: white;
    width: 100%;
    padding: rem(10) 0;
    border-radius: 4px;
    box-shadow: $shadow;

    &--dark {
      background: $dark-el;

      span {

        &:hover {
          background: $white !important;
          color: $dark-el !important;
        }
      }
    }

    span {
      display: block;
      font-size: rem($body-mid);

      &:not(:last-child) {
        padding: rem(5) rem(20);
      }

      &:last-child {
        padding: rem(5) rem(20) 0;
      }

      &:hover {
        background: $dark-el;
        color: $white;
      }
    }
  }
}
</style>
