<template>
  <div
    id="app"
    :class="[
      'app',
      {
        'app--dark': darkMode,
      }
    ]"
  >
    <Header />

    <transition name="transition">
      <router-view />
    </transition>
  </div>
</template>

<script>
// Vuex
import { mapState } from 'vuex';

export default {
  name: 'App',

  components: {
    Header: () => import('@/components/Header.vue'),
  },

  computed: {
    ...mapState([
      'darkMode',
    ]),
  },
};
</script>

<style lang="scss">
.app {
  background: $light-bg;
  height: 100%;

  &--dark {
    background: $dark-bg;
    color: $white;
  }
}
</style>
